body{
    width: 1170px;
    margin: 0 auto;
    font-family: Mulish;
}

/* Header */
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    border-radius: 16px;
    /* border: 1px solid black; */
}
.site-title-div{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}
.site-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.site-title-span{
    color: #FF5400;
}

/* Navigation */
nav > ul{
    display: flex;
    justify-content: space-around;
    gap: 44px;
    align-items: center;
}
nav li{
    list-style: none;
    
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}
.nav-menu-icon{
    /* display: none; */
    text-align: center;
    font-size: 18px;
    border-style: none;
}
.nav-home{
    color: #FF5400;
    font-weight: 700;
}

/* banner-section */
.banner-section{
    width: 100%;
    height: 500px;
    
    background-image: url('images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    margin: auto;
    /* border: 1px solid black; */

    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.banner-container{
    width: 100%;
    height: 500px;
    
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 16px;
    margin: auto;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10px;
}
.banner-container p{
    width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.banner-container form{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner-container form input{
    width: 174px;
    height: 52px;

    border-radius: 8px;
    border-style: none;
    background: #FFF;

    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.banner-container form select{
    width: 174px;
    height: 52px;

    border-radius: 8px;
    border-style: none;
    background: #FFF;

    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.banner-container form button{
    width: 174px;
    height: 52px;

    border-radius: 8px;
    border-style: none;
    background: #FF5400;

    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

/* popular-tour-section */
.popular-tour-section{
    margin-top: 100px;
    height: 540px;
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    align-items: center;
}
.popular-tour-div1{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.popular-tour-div1 h2{
    margin-top: 0px;

    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.popular-tour-div1-p1{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.popular-tour-div1 ul li{
    width: 525px;
    margin-top: 10px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.popular-tour-div1-p2{
    width: 530px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.popular-tour-div1 button{
    margin-top: 20px;
    margin-bottom: 0px;
    
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    background: #FF5400;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.popular-tour-div2 img{
    width: 540px;
    height: 550px;

    border-radius: 16px;
}

/* destination-section */
.destination-section{
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.destination-section h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.destination-section p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.destination-gallery{
    margin-top: 20px;
}
.destination-gallery-row{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.row-image1{
    background-image: url('images/Rectangle\ 5.png');
    
    width: 573px;
    height: 300px;
    
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
}
.row-image2{
    background-image: url('images/Rectangle\ 8.png');
    
    width: 573px;
    height: 300px;
    
    border-radius: 16px;
    fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle\ 8.png'), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}
.row-image3{
    width: 374px;
    height: 286px;

    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
}
.row-image4{
    background-image: url('images/Rectangle\ 7.png');

    width: 474px;
    height: 286px;

    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
}
.row-image5{
    background-image: url('images/Rectangle\ 9.png');

    width: 274px;
    height: 286px;

    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
}
.row-image6{
    background-image: url('images/Rectangle\ 11.png');

    width: 473px;
    height: 300px;

    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
}
.row-image7{
    background-image: url('images/Rectangle\ 10.png');

    width: 673px;
    height: 300px;

    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
}
.destination-gallery-title{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

/* why-choose-us-section */
.why-choose-us-section{
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.why-choose-us-section > h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.why-choose-us-section > p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.why-choose-us-info-row{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
}
.why-choose-us-info-row > div{
    width: 573px;
    height: 284px;
    padding-left: 20px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.info-items img{
    margin-top: 50px;
    width: 64px;
    height: 64px;
}
.info-items h3{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}
.info-items p{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

/* newsletter-section */
.newsletter-section{
    margin-top: 100px;
    height: 422px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.newsletter-div1{
    height: 322px;
    padding: 50px 50px 50px 50px;
    border-radius: 8px;
    border: 1px solid #FF5400;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.newsletter-div1 h2{
    margin-bottom: -5px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-div1 p{
    margin-bottom: 5px;
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.newsletter-div1 form{
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.newsletter-div1 form input{
    width: 393px;
    height: 52px;

    border-radius: 8px;
    border-style: none;
    background: rgba(19, 19, 24, 0.05);

    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.newsletter-div1 form button{
    width: 393px;
    height: 52px;

    border-radius: 8px;
    border-style: none;
    background: #FF5400;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.newsletter-div2{
    width: 60%;
    height: 422px;

    display: flex;
    flex-direction: row-reverse;

    background-image: url('images/Rectangle\ 8\ \(1\).png');

    border-radius: 16px;
    background: url('images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;
}
.newsletter-div2 div{
    margin-top: 255px;
    margin-right: 5px;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);

    border-radius: 16px;
    background: #FF5400;
}
.newsletter-div2 div p{
    margin-bottom: -20px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
}
.newsletter-div2 div h2{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

/* footer */
.footer{
    width: 1170px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .site-title-div{
    margin-bottom: -20px;
}
.footer p{
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.footer .social-icons{
    display: flex;
    gap: 20px;
}
.footer-line{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    body{
        width: 400px;
        margin: 0 auto;
    }
    /* header */
    .site-title-div img{
        width: 33px;
        height: 33px;
    }
    .site-title{
        font-size: 22px;
        font-weight: 800;
    }
    .nav-li{
        display: none;
    }
    /* banner */
    .banner-section{
        height: 480px;
    }
    .banner-container h2{
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 1px;
    }
    .banner-container p{
        width: 304px;
        color: #FFF;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .banner-container form{
        display: flex;
        width: 280px;
        flex-direction: column;
        padding: 16px;
        align-items: center;
        gap: 16px;
    
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
    }
    .banner-container form input{
        width: 255px;
        height: 52px;
    }
    .banner-container form select{
        width: 255px;
        height: 52px;
    }
    .banner-container form button{
        width: 255px;
        height: 52px;
    }
    /* popular-tour */
    .popular-tour-section{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .popular-tour-div1{
        display: flex;
        flex-direction: column;
    }
    .popular-tour-div1 h2{
        font-size: 22px;
    }
    .popular-tour-div1-p1{
        width: 335px;
        font-size: 14px;
    }
    .popular-tour-div1 ul li{
        width: 335px;
        font-size: 14px;
    }
    .popular-tour-div1-p2{
        width: 335px;
        font-size: 14px;
    }
    .popular-tour-div1 button{
        width: 174px;
        height: 52px;
    }
    .popular-tour-div2{
        margin: 0 auto;
    }
    .popular-tour-div2 img{
        width: 400px;
        height: 342px;
        align-items: center;
        border-radius: 16px;
    }
    /* destination */
    .destination-section{
        margin: 0 auto;
        align-items: center;
    }
    .destination-section h2{
        margin-top: 400px;
        font-size: 20px;
    }
    .destination-section p{
        width: 310px;
        font-size: 14px;
    }
    .destination-gallery{
        margin-top: 10px;
    }
    .destination-gallery-row{
        display: grid;
        gap: 10px;
        margin-bottom: 10px;
    }
    .destination-gallery-title{
        width: 400px;
        height: 176px;
        font-size: 20px;
    }
    .row-image3{
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
    .row-image5{
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
    /* why-choose-us */
    .why-choose-us-section{
        margin: 0 auto;
        align-items: center;
    }
    .why-choose-us-section > h2{
        font-size: 20px;
    }
    .why-choose-us-section > p{
        width: 335px;
        font-size: 14px;
    }
    .why-choose-us-info-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-content: center;
        gap: 10px;
        margin-bottom: -18px;
    }
    .why-choose-us-info-row > div{
        width: 380px;
        height: 290px;
    }
    .info-items img{
        margin-top: 50px;
        width: 48px;
        height: 48px;
    }
    .info-items h3{
        font-size: 20px;
    }
    .info-items p{
        width: 270px;
        font-size: 14px;
    }
    /* newsletter */
    .newsletter-section{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }
    .newsletter-div1{
        width: 300px;
        height: 322px;
    }
    .newsletter-div1 h2{
        font-size: 20px;
    }
    .newsletter-div1 p{
        font-size: 14px;
    }
    .newsletter-div1 form input{
        width: 290px;
        height: 52px;
    }
    .newsletter-div1 form button{
        width: 290px;
        height: 52px;
    }
    .newsletter-div2{
        width: 400px;
        height: 422px;
    }
    .newsletter-div2 div{
        margin-top: 300px;
        margin-right: 5px;
        width: 230px;
        height: 80px;
        border-radius: 8px;
    }
    .newsletter-div2 div p{
        font-size: 14px;
    }
    .newsletter-div2 div h2{
        font-size: 20px;
    }
    /* footer */
    .footer{
        width: 400px;
        height: 310px;
        margin-top: 400px;
    }
    .footer p{
        width: 290px;
        font-size: 14px;
    }
    .footer .social-icons{
        font-size: 24px;
    }
    .footer-line{
        width: 400px;
        height: 1px;
    }
}