body{
    width: 1170px;
    margin: auto;
    font-family: Mulish;
}

/* Header */
.header-container{
    width: 1170px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    border-radius: 16px;
    /* border: 1px solid black; */
}
.site-title-div{
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    align-items: center;
}
.site-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.site-title-span{
    color: #FF5400;
}

/* Navigation */
nav > ul{
    display: flex;
    justify-content: space-around;
    gap: 44px;
    align-items: center;
}
nav li{
    list-style: none;
    
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav a{
    text-decoration: none;
}
.nav-menu-icon{
    /* display: none; */
    text-align: center;
    font-size: 18px;
    border: 1px solid wheat;
}
.nav-home{
    color: #FF5400;
    font-weight: 700;
}

/* banner-section */
.banner-section{
    width: 1170px;
    height: 500px;
    
    background-image: url('images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    margin: auto;
    /* border: 1px solid black; */

    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.banner-container{
    width: 1170px;
    height: 500px;
    
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 16px;
    margin: auto;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10px;
}
.banner-container p{
    width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.banner-container form{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner-container form input{
    width: 174px;
    height: 52px;

    border-radius: 8px;
    border-style: none;
    background: #FFF;

    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.banner-container form select{
    width: 174px;
    height: 52px;

    border-radius: 8px;
    border-style: none;
    background: #FFF;

    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.banner-container form button{
    width: 174px;
    height: 52px;

    border-radius: 8px;
    border-style: none;
    background: #FF5400;

    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

/* popular-tour-section */
.popular-tour-section{
    margin-top: 120px;
    height: 540px;
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    align-items: center;
}
.popular-tour-div1{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.popular-tour-div1 h2{
    margin-top: 0px;

    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.popular-tour-div1-p1{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.popular-tour-div1 ul li{
    width: 525px;
    margin-top: 10px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.popular-tour-div1-p2{
    width: 530px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.popular-tour-div1 button{
    margin-top: 20px;
    margin-bottom: 0px;
    
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    background: #FF5400;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.popular-tour-div2 img{
    width: 540px;
    height: 550px;

    border-radius: 16px;
}